#  Node.js
node_modules/
#  App
build
# build tests
dist/
# VS history
.history/
#  package-lock.json
package-lock.json
# Optional npm cache directory
.npm
npm-debug.log
# dotenv environment variables file
.env
.DS_Store